<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <script src="kissaApp.js"></script>
</head>

<body ng-app="myApp" ng-controller="lemmikitCtrl">
    <div class="container">

        <h1>Kissaohjelma</h1>
        <p>Lisää, muuta ja poista kissoja ja katsele tietoja kissoistasi.</p>

        <div class="jumbotron">
            <h2>Lisää uusi kissa!</h2>
            <form name="kissanlisays">
                <div class="row">
                    <div class="col">
                        <input type="text" name="nimi" ng-model="nimi" class="form-control" placeholder="Kissan nimi">
                    </div>
                    <div class="col">
                        <input type="text" name="omistaja" ng-model="omistaja" class="form-control" placeholder="Omistajan nimi">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input type="text" name="rotu" ng-model="rotu" class="form-control" placeholder="Kissan rotu">
                    </div>
                    <div class="col">
                        <input type="text" name="sukupuoli" ng-model="sukupuoli" class="form-control" placeholder="Kissan sukupuoli">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Kissan syntymäpäivä</label>
                        <input type="date" name="syntymapaiva" ng-model="syntymapaiva" class="form-control">
                    </div>
                    <div class="col">
                        <label>Kissan kuolinpäivä</label>
                        <input type="date" name="kuolinpaiva" ng-model="kuolinpaiva" class="form-control">
                    </div>
                </div>

                <input type="submit" name="insert" class="btn btn-success btn-lg" ng-click="insert()" value="Lisää">
                <p ng-bind="feedback"></p>

            </form>
        </div>

        <div>

            <h2>Kissasi:</h2>

            <table class="table">
                <tr>
                    <th>Nimi</th>
                    <th>Omistaja</th>
                    <th>Rotu</th>
                    <th>Sukupuoli</th>
                    <th>Syntymäpäivä</th>
                    <th>Kuolinpäivä</th>
                </tr>
                <tr ng-repeat="x in names">
                    <td>{{ x.Nimi }}</td>
                    <td>{{ x.Omistaja }}</td>
                    <td>{{ x.Rotu }}</td>
                    <td>{{ x.Sukupuoli }}</td>
                    <td>{{ x.Syntymapaiva | date }}</td>
                    <td>{{ x.Kuolinpaiva | date }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>